* {
  max-width: 1200px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

/*--PART SUPERIOR--*/
header {
  background: url(../img/header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 160%;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header-superior {
  display: flex;
  padding: 20px;
  justify-content: space-evenly;
  align-items: center;
}
.header-inferior {
  display: flex;
  justify-content: center;
}
.navegador {
  flex-basis: 70%;
  margin: 0 20px 0 20px;
}
.navegador ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.navegador a {
  text-decoration: none;
  color: rgb(132, 132, 132);
}
.navegador a:hover {
  color: rgb(238, 116, 99);
}
.navegador ul li i {
  padding: 0 5px;
  color: rgb(132, 132, 132);
}
.logo {
  flex-basis: 15%;
}
.logo img {
  width: 80px;
  animation-name: rotacio;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-timing-function: ease;
}
.social {
  flex-basis: 15%;
}
.social ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}
.social ul li {
  padding: 0 10px;
}
.social ul li i {
  color: rgb(132, 132, 132);
}
.social i:hover {
  color: rgb(238, 116, 99);
}
.lema {
  position: relative;
  width: 85%;
  height: 135px;
  margin-bottom: 0;
}
.lema::before {
  content: "";
  background-color: rgb(128, 128, 128);
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.1;
}
h1 {
  position: relative;
  font-family: Georgia, serif;
  text-align: center;
  margin-top: 30px;
  color: rgb(238, 116, 99);
  font-size: 1.8rem;
  z-index: 1;
  font-weight: 100;
  opacity: 0.8;
  animation-name: opacitat;
  animation-duration: 3s;
  animation-timing-function: ease;
}

/*--PART CENTRAL--*/
section {
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  margin-top: 10px;
}
article {
  flex-basis: 80%;
  margin-right: 10px;
  background-color: rgb(220, 220, 220);
  padding: 10px;
}
.ar-sup {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}
.ar-inf {
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
}
.ar-box1 {
  width: 50%;
  background-color: rgb(245, 241, 241);
  padding: 10px;
}
.ar-box2 {
  background-color: rgb(220, 220, 220);
  margin-top: 20px;
  text-align: center;
}
.foto-card1 {
  background-image: url(../img/sakura.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 190px;
  position: relative;
}
.foto-card2 {
  background-image: url(../img/comida.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 190px;
  position: relative;
}
.foto-card3 {
  background-image: url(../img/fuji.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 190px;
  position: relative;
}
.foto-card4 {
  background-image: url(../img/noche.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 190px;
  position: relative;
}
.data-foto-card {
  position: absolute;
  top: 80%;
  left: 2%;
  color: rgb(239, 226, 142);
}
h2 {
  background-color: rgb(238, 116, 99);
  text-transform: uppercase;
  color: rgb(245, 241, 241);
  font-size: 1.25rem;
  font-weight: lighter;
  padding-top: 10px;
  padding-left: 2%;
  margin-top: 1%;
}
.columns {
  column-count: 2;
  column-gap: 10px;
}
article a {
  text-decoration: none;
  color: rgb(147, 147, 147);
}
article a:hover {
  color: rgb(92, 92, 92);
}
aside {
  width: 20%;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(220, 220, 220);
  padding: 0px 20px;
}
.as-box1,
.as-box2 {
  text-align: center;
}
.as-box1 {
  margin-top: 30px;
}
.as-box2 {
  margin-top: 20px;
}
.as-box1,
.as-box2,
.ar-box2 {
  color: black;
}
/*--PART INFERIOR--*/
footer {
  background-color: rgb(220, 220, 220);
  padding: 0px 10px;
  margin-top: 10px;
}
.copyright {
  background-color: rgb(245, 241, 241);
  text-align: center;
}
.copyright p {
  padding: 10px;
}

/*--MEDIA QUERY--*/
@media screen and (max-width: 1024px) {
  .columns {
    column-count: 1;
  }
}
@media screen and (max-width: 768px) {
  .logo img {
    width: 60px;
    flex-basis: 5%;
  }
  .navegador {
    flex-basis: 90%;
    margin: 0px;
  }
  .navegador ul li i {
    display: none;
  }
  .navegador a {
    font-size: 0.9rem;
  }
  .social {
    flex-basis: 5%;
  }
  h1 {
    font-size: 1.6rem;
  }
  section {
    display: block;
  }
  article {
    margin: 0;
    width: auto;
  }
  aside {
    padding: 10px;
    width: auto;
    height: auto;
    margin-top: 10px;
  }
  .as-box1 {
    margin-top: auto;
  }
  .as-box2 {
    margin: 0px;
  }
}
@media screen and (max-width: 480px) {
  header {
    min-height: 350px;
  }
  .header-superior {
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
  }
  .navegador {
    flex: 0 0 10px;
    margin: 0px;
  }
  .navegador ul {
    padding-left: 0px;
    justify-content: space-around;
  }
  .navegador ul li {
    padding: 0 10px;
  }

  .social {
    flex: 0 0 10px;
    align-self: center;
  }
  .social ul {
    align-self: center;
    padding-left: 0px;
  }
  .logo {
    flex: 0 0 10px;
  }
  .logo .header-inferior {
    margin-top: 20px;
  }
  h1 {
    font-size: 1.4rem;
  }
  .ar-sup,
  .ar-inf {
    display: block;
  }
  .ar-box1 {
    margin-bottom: 20px;
    width: auto;
  }
  .as-box1 {
    margin-top: auto;
  }
  footer p {
    margin: 0px;
  }
}
@keyframes rotacio {
  0% {
    transform: rotate(0deg);
    transform-origin: 50% 50%;
  }
  100% {
    transform: rotate(360deg);
    transform-origin: 50% 50%;
  }
}
@keyframes opacitat {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
